# Python
__pycache__/
*.py[cod]

# Jupyter
.ipynb_checkpoints/

# Virtual environments
.venv/
venv/
env/

# Environment variables
.env

# Raw and processed datasets
data/raw/
data/processed/

# VS Code
.vscode/

# Operating system files
.DS_Store
Thumbs.db